@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,500,700');

@font-face {
    font-family: "Bulter";
    font-style: normal;
    font-weight: bold;
    src: url("/fonts/Butler-Bold.woff") format("woff"),
        url("/fonts/Butler-bold.woff2") format("woff2") 
}
@font-face {
    font-family: "Bulter";
    font-style: normal;
    font-weight: bold;
    src: url("/fonts/Butler-Medium.woff") format("woff"),
        url("/fonts/Butler-Mediym.woff2") format("woff2") 
}