.has-pattern-bottom::before {
  content: "";
  position: absolute;
  background-image: url("~assets/images/tic-tac-toe.svg");
  height: 158px;
  width: 150px;
  background-size: cover;
  z-index: 50;
  bottom: -120px;
  left: -75px;
  pointer-events: none;
}

.has-pattern-top::before {
  content: "";
  position: absolute;
  background-image: url("~assets/images/tic-tac-toe.svg");
  height: 158px;
  width: 150px;
  background-size: cover;
  z-index: 50;
  top: 0px;
  right: 0px;
  pointer-events: none;
}


.custom-hero {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(42, 54, 59, 0.85)), to(rgba(42, 54, 59, 0.85))),
    url("~assets/images/nature-forest-trees-fog.jpg");
  background: linear-gradient(rgba(42, 54, 59, 0.85), rgba(42, 54, 59, 0.85)),
    url("~assets/images/nature-forest-trees-fog.jpg");
  height: 95vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  .custom-logo img {
    width: 100px;
    height: auto;
    margin-bottom: 35px;
  }

  hr {
    width: 300px;
    margin: auto;
    opacity: 0.5;
  }

  .custom-cta-hero {
    margin-top: 70px;
  }

  h1 {
    margin-top: 35px;
  }
}

.about-container {
  .is-about-text-container {
    position: absolute;
    z-index: 19;
    background-color: #fff;
    bottom: 0;
    padding: 0px 52px 52px 52px;
  }
  .is-about-img-container {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1 !important;
        -ms-flex: 1 !important;
            flex: 1 !important;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  p {
    margin-bottom: 0.5rem;
  }
  h2 {
    margin-top: -42px;
  }

  .has-heading-bg::before {
    content: "OM MIG";
    position: absolute;
    font-size: 12rem;
    opacity: 0.03;
    font-family: "Butler";
  }
}

.skills-container {
  margin-top: 200px;
  .has-heading-bg::before {
    content: "FÆRDIGHEDER";
    position: absolute;
    font-size: 10rem;
    opacity: 0.03;
    font-family: "Butler";
  }
  .title {
    margin-bottom: 75px;
  }
  .skills-container-bg {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(42, 54, 59, 0.85)), to(rgba(42, 54, 59, 0.85))),
      url(~assets/images/fog-forest-mountain-world-clouds-158672.jpg);
    background: linear-gradient(rgba(42, 54, 59, 0.85), rgba(42, 54, 59, 0.85)),
      url(~assets/images/fog-forest-mountain-world-clouds-158672.jpg);
    background-position: center;
    height: 750px;
    padding: 220px 0px;
    width: 100%;
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-attachment: fixed;
  }
  .tabcontent {
    white-space: normal;
    width: 700px;
    height: auto;
    p {
      color: $primary-color;
    }
  }
  .tab-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 150px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    button {
      border-color: transparent;
      border-style: none;
      border-width: 0px;
      padding: 0;
      background-color: transparent;
      color: #fff;
      font-size: 1rem;
      text-transform: uppercase;
      letter-spacing: 0.3rem;
      text-align: left;
      opacity: 0.5;
      cursor: pointer;
      &:focus {
        outline: transparent !important;
      }
    }
    .active {
      opacity: 1;
    }
  }

  .tab-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.tech-skill-container {
  padding: 100px 0px 200px 0px;
  .custom-tech-skill {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.instagram-container {
  padding: 62px 0px;
  .has-heading-bg::before {
    content: "INSTAGRAM";
    position: absolute;
    font-size: 10rem;
    opacity: 0.03;
    font-family: "Butler";
    left: 0;
    right: 0;
  }
  .instagram-post-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 45px;
    grid-row-gap: 45px;
    padding-top: 75px;
    a {
      background: none;
    }
  }
  .instagram-feed-link {
    margin: auto;
    margin-top: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}


.portfoliolist-container {
  .has-pattern-top::before {
    left: -15px;
    top: -75px;
  }
  .has-pattern-bottom-right::before {
    content: "";
    position: absolute;
    background-image: url("~assets/images/tic-tac-toe.svg");
    height: 158px;
    width: 150px;
    background-size: cover;
    z-index: 50;
    bottom: -120px;
    right: -75px;
    pointer-events: none;
  }
}

.portfolio {
  .has-heading-bg::before {
    content: "PROJEKTER";
    position: absolute;
    font-size: 12rem;
    opacity: 0.03;
    font-family: "Butler";
    left: 0;
    right: 0;
  }
}

/* Responsive elements*/

@media screen and (max-width: 768px) {
  .has-heading-bg::before {
    display: none;
  }
  .has-pattern-bottom::before {
    display: none;
  }

  .has-pattern-top::before {
    display: none;
  }

  .has-pattern-bottom-right::before {
    display: none;
  }
  .has-pattern::before {
    display: none;
  }
  .about-container .is-about-text-container {
    position: relative;
    padding: 0px 22px 52px 22px;
  }
  .about-columns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .about-container h2 {
    margin-top: 0px;
    padding-top: 22px;
  }

  .skills-container {
    .tab-container {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      padding: 0px 10px;
      width: 100%;
    }
    .tab-btn {
      padding: 20px 0px;
      button {
        padding: 10px 0px;
      }
    }
  }

  .section {
    .portfoliolist-container {
      padding: 0px;
      .portfolio-columns {
        .portfolio-image-card {
          width: 100%;
        }
        .portfolio-excerpt-card {
          position: relative;
          width: 100%;
          padding: 32px 22px 32px 22px;
          margin-top: -52px;
        }
      }
    }

    .portfolio-link {
      padding-top: 45px;
    }
    .instagram-container {
      .instagram-post-container {
        grid-template-columns: 1fr;
      }
    }
  }
}
