header {
  position: absolute;
  top: 25px;
  margin: auto;
  width: 100%;

  .header-topbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 1140px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: auto;
    padding: 0px 10px;
    .social-media-header {
      a {
        color: #fff;
        background: transparent;
      }
    }
  }
  .header-menu-icon {
    color: rgba($color: #fff, $alpha: 0.5);
    cursor: pointer;
    letter-spacing: 0.5rem;

    span {
      color: rgba($color: #fff, $alpha: 1);
      padding: 0px 5px 0px 0px;
      img {
        width: 1rem;
      }
    }
  }

  .overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 120;
    top: 0;
    right: 0;
    background-color: $primary-color;
    overflow-x: hidden;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }

  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }

  .overlay a {
    padding: 8px;
    text-decoration: none;
    color: #818181;
    display: block;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    background: transparent;
  }

  .overlay a:hover,
  .overlay a:focus {
    color: $secondary-color;
  }

  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }

  @media screen and (max-height: 450px) {
    .overlay a {
      font-size: 20px;
    }
    .overlay .closebtn {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
  }
}
