.portfolio-overview {
    .has-heading-bg::before {
        content: "PROJEKTER";
        position: absolute;
        font-size: 10rem;
        opacity: 0.03;
        font-family: "Butler"; 
        left: 0;
        right: 0;
      }

    .portfolio-columns {
        margin: 32px 0px;
    }
}